body{
	font-family:'Arial', sans-serif;
	background:#eee;
	line-height:1.6em;
}

.navbar{
	overflow:auto;
	min-height:50px;
	background:#36424a;
	color:#fff;
	font-size:18px;
	border:0;
	border-radius: 0;
}

.navbar h1{
	margin:10px 0 0 0;
	padding:0;
}

.navbar a{
	color:#fff !important;
}

.navbar a:hover{
	color:#ff953f;
}

.navbar a.navbar-brand:hover{
	color:#fff !important;
}

.navbar ul{
	margin-top:22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:none;
	color:#ff953f !important;
}

.search-form{
	margin-top:30px;
}

.search-form input[type='text']{
	border-radius:0;
	height:38px;
}

.search-form .btn{
	border:0;
	height:38px;
	margin-top:0;
	border-radius: 0;
	margin-left:-5px;
}

.search-form .form-control{
	background:#f4f4f4;
	border:1px solid #eee;
}

.search-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.btn{
	border:none;
	border-radius:0;
}

.btn-primary{
	background:#ff953f
}

.btn:hover{
	background:#ccc;
}

.post{
	border:1px #ccc solid;
	background:#fff;
	margin-bottom:30px;
}

.post img{
	width:100%;
}

.post-content{
	padding:20px;
	box-sizing:border-box;
}

.post h3{
	margin:0;
	padding:0;
}

small{
	background:#36424a;
	color:#fff;
	display:block;
	margin:10px 0;
	padding:5px 10px;
}

.post .btn {
	display: block;
	margin-top: 20px;
}

.comment img {
	width: 100%;
}

footer{
	background:#36424a;
	color:#fff;
	text-align: center;
	height:60px;
	padding-top:20px;
	margin-top:30px;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
